doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title .Next on Tour
  body
    .header
      h1.page-title .NEXT ON TOUR LISBOA 2018

    ul.nav
      li: a(href='/') Casa
      li: a(href='#news') Datas & Lugares
      li: a(href='https://www.eventbrite.com/e/inscription-nutanix-next-on-tour-lyon-france-3-avril-2018-41946489078') Agenda
      li: a(href='#contact') Contato
      li: a(href='#about') Acerca


    .main-content
      block content

    .footer
      p © 2018 Nutanix .Next on Tour, All Rights Reserved.
      p served by #{hostname}
      p ---
      p
       a(href='/stats' onclick='javascript:event.target.port=8080' target='_blank') Stats
      p 
       a(href='https://status.nxlab.fr/' target='_blank') Status
