doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Nutanix .Next Tour
  body
    .header
      h1.page-title Nutanix .Next Tour Marseille 2017

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Dates & Lieux
      li: a(href='https://www.eventbrite.com/e/inscription-nutanix-next-on-tour-lyon-france-3-avril-2018-41946489078') Programme
      li: a(href='#contact') Contact
      li: a(href='#about') About


    .main-content
      block content

    .footer
      p © 2018 Nutanix .Next Tour, All Rights Reserved.
      p served by #{hostname}
      p a(href='/' onclick='javascript:event.target.port=70' target='_blank') Stats
