doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title DevOps Tour
  body
    .header
      h1.page-title Nutanix DevOps Tour powered by Treeptik

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Dates & Lieux
      li: a(href='http://www.nutanix-devops-tour.treeptik.fr/programme.html') Programme
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p © 2017 Nutanix DevOps Tour powered by Treeptik, All Rights Reserved.
      p served by #{hostname}
