extend default

block content
  h2.main-title ##app_name## super demo web app

  p.
    Rencontrez les experts Nutanix qui vous guideront dans la modernisation de vos datacenters et la gestion des déploiements Multi-Cloud avec la technologie One OS, One Click de Nutanix.

  p.
    Notre communauté de spécialistes à travers le monde vous présentera les meilleures pratiques pour construire une infrastructure IT agile et innovante pour accompagner les équipes métiers dans la création d’applications à forte valeur ajoutée pour les utilisateurs.

  p.
    Nos executives vous parleront des dernières études et du positionnement de Nutanix sur le marché de l’Enterprise Cloud avec une offre disruptive qui répond aux problématiques de sécurité actuelles et sous-jacentes.
