extend default

block content
  p.
    Venez découvrir les dernières tendances du monde Devops et rencontrez les acteurs de ce mouvement qui permet
    de rendre les entreprises plus productives. Que ce que soit pour acquérir une nouvelle culture,
    perfectionner vos connaissances ou rencontrer des acteurs pour un futur projet,
    vous serez les bienvenus ! 
    Nous avons sélectionné un casting d'acteurs complémentaires afin de vous offrir 
    la meilleure vision de l'expérience Devops.

  p.
    Epicurei constituam sed at, id placerat similique tincidunt eam. Te quas inermis nominavi
    vel, in sea erant debitis reformidans, an cum eripuit democritum. Usu modus primis et, his
    errem scripserit cu. Mea cu aperiri repudiandae, id sit offendit noluisse torquatos. Sit
    te suas fastidii, cum nonumy iriure maluisset at, vix te graeco moderatius argumentum.
  p.
  iframe(type='text/html' width='540' height='315' scrolling='no' frameborder='0' src='https://www.youtube.com/embed/9v3wt64X2zY?ecver=1')

    
