extend default

block content
  p.
    Venez découvrir les dernières tendances du monde Devops et rencontrez les acteurs de ce mouvement qui permet
    de rendre les entreprises plus productives. Que ce que soit pour acquérir une nouvelle culture,
    perfectionner vos connaissances ou rencontrer des acteurs pour un futur projet,
    vous serez les bienvenus ! 
    Nous avons sélectionné un casting d'acteurs complémentaires afin de vous offrir 
    la meilleure vision de l'expérience Devops.
  
  iframe(type='text/html' width='600' height='315' center='yes' scrolling='no' frameborder='0' src='https://www.youtube.com/embed/9v3wt64X2zY?ecver=1')
  
  p.
    DEVOPS TOUR raconté par News Informatique
    
  p.
    served by #{hostname}
    
