extend default

block content
  h2.main-title ##app_name## aplicativo da web de demonstração

  p.
    Conecte-se com profissionais da indústria com idéias afins para trocar idéias, melhores práticas, dicas e lições aprendidas.
  p.
    Você terá a oportunidade de falar diretamente com especialistas em produtos, demonstrar novos recursos da solução e esclarecer suas dúvidas no local.

  p.
    Nos executivos, há um grande número de estudos sobre as questões e posicionamentos de Nutrição no setor da empresa Cloud, com o objetivo de interromper as mudanças em problemas de segurança atuantes e sous-jacentes.
